@model IList<MvcApp.ViewModels.MvcCategory>
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<table>
    @foreach (var p in Model)
    {
        @Html.Partial("_Category", p)
    }
</table>
<div>
    @Html.ActionLink("Create category", "CreateCategory", "Administrator")
</div>

