@model IList<MvcApp.ViewModels.MvcSkill>

@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>
<table>
    @foreach (var p in Model)
    {
        <tr>
            @Html.Partial("_Skill", p)
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Create skill", "CreateSkill", "Administrator")
</div>
