<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids">

                    <div class="login-right">
                        <form id="loginForm" action="@Url.RouteUrl("Login")" method="post">
                            @Html.AntiForgeryToken()
                            <h3>Signin with your account </h3>
                            <p id="loginError"></p>
                            <input class = "form-control" type="text" placeholder="Enter your Login or Email" name="EmailOrLogin">
                            <input class = "form-control" type="password" placeholder="password" name="Password">

                            <div class="single-bottom">
                                <input type='checkbox' name='IsRemember' id="brand" value="true">
                                <label for="brand"><span></span>Remember Me.</label>
                            </div>
                            <input id="loginInput" type="submit" value="SIGNIN">
                        </form>
                    </div>

                    <p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $('#loginInput').click(function (event) {
    //        $("#loginForm").ajaxForm({ dataType: "json", success: function (data) { document.getElementById('loginError').innerHTML = data.Result; } });
    //    });
    //});
</script>