@model MvcApp.ViewModels.GenericPaginationModel<MvcApp.ViewModels.SkillsModel>

@{
    ViewBag.Title = "Index";
}
<h2 class="managerpage-header">Find new persons. Just set skills, that you need</h2>

@Html.Partial("_Users", Model)
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>

